<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @prison.banner_url %>);">
  <div class="container">
    <h1>Welcome to <strong><%= @prison.name %></strong></h1>
  </div>
</div>
